@model List<DevArena.Entities.Contests>

@{
    // Retrieve the list of joined contests from the ViewBag (defaults to empty if not a participant)
    var registeredContests = ViewBag.RegisteredContests as List<int> ?? new List<int>();
}

<div>
    <h1>Contests</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                @if (User.IsInRole("Participant"))
                {
                    <th scope="col" class="text-center" style="width: 120px;">Action</th>
                }
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contest in Model)
            {
                <tr>
                    @if (User.IsInRole("Participant"))
                    {
                        <td class="text-center">
                            @if (registeredContests.Contains(contest.id))
                            {
                                // If they already joined, show Leave button
                                <a class="btn btn-danger btn-sm" asp-controller="Contests" asp-action="Leave" asp-route-id="@contest.id">
                                    <i class="bi bi-box-arrow-right"></i> Leave
                                </a>
                            }
                            else
                            {
                                // If they haven't joined, show Join button
                                <a class="btn btn-success btn-sm" asp-controller="Contests" asp-action="Join" asp-route-id="@contest.id">
                                    <i class="bi bi-box-arrow-in-right"></i> Join
                                </a>
                            }
                        </td>
                    }

                    <td>@contest.title</td>
                    <td>@contest.start_time.ToString("yyyy-MM-dd")</td>
                    <td>@contest.end_time.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>